*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
}

.display{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  box-shadow: 1px 2px 2px #ccc;

}

.btn-del {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.container {
width:100%;
padding-top:40px;

}

.form {
display: flex;
justify-content: center;
padding: 1rem 0rem;
}


.form h1 {
text-align: center;
padding: 1rem 0rem;
}

.form input {
padding: 10px;
border-radius: 5px;
}

.form .btn-add {
background-color: green;
border-radius: 5px;
padding: 12px;
border: none;
color:white;
}

.display {
width: 50%;
display: flex;
margin: 10px auto;

}

.display p {
text-align: center;
width: 100%;
}
.display .task {

width: 100%;
}


form {
margin: 0 20px;
display: flex;
}
@media (max-width:600px) {
  .display {
    flex-direction: column;
  }
  .display {
width: 100%;
}
.display p {
margin: 0 auto;
width: 50%;
}

form {
display: block;
}
.form>div {
width: 100%;
}

input {
width: 100%;
margin: 5px !important;

}

.btn-div {
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}

  
}